<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="student.templatebook"
	android:versionCode="1"
	android:versionName="1.0.0"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="14"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<application
		android:icon="@drawable/icon"
		android:label="کتابخانه">
		
		<activity android:name="de.amberhome.objects.preferenceactivity"/>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="کتابخانه"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actmenu"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
			
			<meta-data android:name="android.app.default_searchable"
			                   android:value=".resultsearch" />
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actbookchapter"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="adjustResize|stateHidden"
			android:launchMode="singleTop"
			android:name=".actcontent2"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actdownload"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".acthelp"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actpdf"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actsearchbooks"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actlinks"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actpreview"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actmessage"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actbookinformation"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".imagedownloader">
		</service>
		<receiver android:name=".imagedownloader$imagedownloader_BR">
		</receiver>
		<service android:name=".check_books">
		</service>
		<receiver android:name=".check_books$check_books_BR">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".resultsearch"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
			
			<intent-filter>
			    <action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
			           android:resource="@xml/searchable"/>
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actcontact"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actabout"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".send_request">
		</service>
		<receiver android:name=".send_request$send_request_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actsummarybook"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actsummarycontent"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".actlistpdf"
			android:label="کتابخانه"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name="anywheresoftware.b4a.samples.httputils2.httputils2service">
		</service>
		<receiver android:name="anywheresoftware.b4a.samples.httputils2.httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>